html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    box-sizing: border-box;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.Logo {
display: inline-block;
vertical-align: top;
}

nav {
    width: 60%;
    flex-wrap: nowrap;
    display: flex;
    padding: 1%;
    text-align: right;
}

.nav-item{
    font-size: 27px;
    padding: 0% 2% ;
}

.hero{
display: flex;
justify-content: space-around;

}

.hero-content{
    margin-top: 2%;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 2%;
    background-color: gray;
}

.social-media{
    display: flex;
    margin: 0% 2%;
}

.myskills{
display: flex;
padding: 10px;
justify-content: space-around;
}

h1{
    margin: auto;
}

.workgrid {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100%;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "casestudy1 casestudy2 casestudy3";
  }
  
  .casestudy1 { grid-area: casestudy1; }
  
  .casestudy2 { grid-area: casestudy2; }
  
  .casestudy3 { grid-area: casestudy3; }






@media only screen and (max-width:100%){
    flex-direction: .flexcontainer;
    #categorygrid{
        margin: 0px, 5%;
        display: grid;
        grid-template-rows: 300px 300px 300px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: none;
    }
    #categorygrid{
        grid-template-rows: 300px 300px 300px 300px 300px;
        grid-template-columns: 1fr;
        grid-template-areas: none;
    }
}